{% extends 'weather_show_app/index_charts.html' %}
    {% load city_tags %}

{#多app的方案中template需要这样来引入，view中也是需要加上#}
{% block title %}
{{ app_name }}
{% endblock %}

{% block drawer_body %}mdui-drawer-body-left{% endblock %}

{% block drawer_icon %}
    <span class=" mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#main-drawer', swipe: true}"><i class="mdui-icon material-icons">menu</i></span>
{% endblock %}

{% block drawer %}
<div class="mdui-drawer " id="main-drawer">
  <div class="mdui-list" mdui-collapse="{accordion: true}" style="margin-bottom: 76px;">
    <div class="mdui-collapse-item ">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">near_me</i>
        <div class="mdui-list-item-content">开始使用</div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
      </div>
      <div class="mdui-collapse-item-body mdui-list  ">
      <a href="{%url 'weather_show_app:index' %}" class="mdui-list-item mdui-ripple">数据概略</a>
        <a href="{% url 'weather_show_app:detaillist' %}" class="mdui-list-item mdui-ripple ">详细数据</a>
         </div>
  </div>

         <div class="mdui-collapse-item mdui-collapse-item-open">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <!--<i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">near_me</i>-->
        <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">insert_chart</i>
        <div class="mdui-list-item-content">分析</div>
          <!--<i class="mdui-collapse-item-arrow mdui-icon material-icons">insert_chart</i>-->
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
      </div>
      <div class="mdui-collapse-item-body mdui-list  mdui-collapse-item-open  ">
           <a href="{% url 'weather_show_app:host' %}" class="mdui-list-item mdui-ripple mdui-list-item-active">各城市当天天气分析</a>
          <!--<a href="{% url 'weather_show_app:consumer' %}" class="mdui-list-item mdui-ripple ">房客专区</a>-->
    <a href="{% url 'weather_show_app:price' %}" class="mdui-list-item mdui-ripple ">房源价格分析</a>
       <!--<a href="{% url 'weather_show_app:detaillist' %}" class="mdui-list-item mdui-ripple ">地理位置分析</a>-->
        <a href="{% url 'weather_show_app:time' %}" class="mdui-list-item mdui-ripple ">发布时间分析</a>
      <!--<a href="{% url 'weather_show_app:favcount' %}" class="mdui-list-item mdui-ripple ">喜欢数分析</a>-->
        <a href="{% url 'weather_show_app:area' %}" class="mdui-list-item mdui-ripple ">房源面积分析</a>
      <!--<a href="{% url 'weather_show_app:favcount' %}" class="mdui-list-item mdui-ripple ">喜欢数分析</a>-->
        <!--<a href="{% url 'weather_show_app:facilityPage' %}" class="mdui-list-item mdui-ripple ">房源</a>-->
        <a href="{% url 'weather_show_app:facilityPage' %}" class="mdui-list-item mdui-ripple ">房源设施分析</a>
             <a ><div class="mdui-divider"></div></a>
        <a href="{% url 'weather_show_app:assess' %}" class="mdui-list-item mdui-ripple ">房源价格评估</a>

    </div>
  </div>

  </div>
</div>
<a id="anchor-top"></a>
{% endblock %}
{#其中一个部分#}




{% block app_name %}
{{ app_name }}
{% endblock %}

{% block name %}
{{ app_name }}
{% endblock %}

{% block content %}
<div class="mdui-container doc-container">
{#    这儿才是内容的区域呢#}
  <h1 class="doc-title mdui-text-color-theme">{{ app_name }}</h1>
  <div class="doc-intro mdui-typo">



<!--{{today_weather.dressing_index}}-{{today_weather.dressing_index_desc}}-->

<form action="{% url 'weather_show_app:host' %}" id="choice_city" method="GET">

<select id="city_id" class="mdui-select" name="city_id" form="choice_city">   # todo 提交表单这个东西可以
  <option  value="{{now_city.id}}" selected>{{now_city.name}}</option>
        {% for city in all_citys %}
  <option id="city_{{city.id}}" value="{{city.id}}">{{city.direct_city_name}}</option>
        {% endfor %}
</select>

    <input type="submit">
</form>
<br><div class="mdui-chip">
  <span class="mdui-chip-title">天气情况：{{today_weather.state}}</span>
</div><br>
        <div class="mdui-chip">
  <span class="mdui-chip-title">天气体感：{{ today_weather.dressing_index}}</span>
</div><br>
       <div class="mdui-chip">
  <span class="mdui-chip-title">出行推荐：{{ today_weather.state | state_to_outdoor_guide }}</span>
</div><br>
      <div class="mdui-chip">
  <span class="mdui-chip-title">穿衣指数：{{ today_weather | wear_clothing_guide }}</span>
</div><br>

   <div id="get_hostDraw_chart-hide">
    <div class="mdui-center mdui-spinner mdui-spinner-colorful" style="margin-top: 200px;"></div>
    </div>
<div class="mdui-center" id="get_hostDraw" style="width:800px; height:400px;margin-top: 50px;"></div>
    <script>



        //        $('#select_city').change(function(){
//            var city_id = $('#select_city option:selected').val();
//            now_city_id = city_id;
//            //依次启动这几个图表
//         });


        var get_hostDraw_chart = echarts.init(document.getElementById('get_hostDraw'), 'black', {renderer: 'canvas'});
        $(
            function (){
                fetchget_hostDrawData(get_hostDraw_chart);
                //{#setInterval(fetchData, 100000);#}
            }
        );

        function fetchget_hostDrawData() {
            retry_counter = 0
            $.ajax({
                type: "GET",
                url: "{% url 'weather_show_app:get_today_aqi_line' %}?city_id={{city_id}}",
                dataType: 'json',
                async: true,
                timeout:5000,


                success: function (result) {
                    get_hostDraw_chart.setOption(result.data);
                    $('#get_hostDraw_chart-hide').css('display','none');  // 组件完全隐藏，不占用显示时占用的位置
                    $('#get_hostDraw_chart').css('display','block');   //在设置组件可以看
                },
                error : function(XMLHttpRequest,status) { //请求完成后最终执行参数
                    if (status === 'timeout') {
                        //超时,status还有success,error等值的情况
                        if (retry_counter > 3){
                            return
                        }else{
                            $.ajax(this).abort();
                        console.log("超时,已重试");
                        $.ajax(this);
                        return
                        }


                    }
                }


            });
        }
    </script>




{#<button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-color-red-400">Button</button>#}
{#{%  if latest_question_list  %}#}
{#<div class="mdui-container">#}

    <div class="mdui-center" id="timeline" style="width:800px; height:400px;margin-top:50px;"></div>
    <script>
        var timeline_chart = echarts.init(document.getElementById('timeline'), 'white', {renderer: 'canvas'});
        $(
            function () {
                fetchData_timeline(timeline_chart);
                //{#setInterval(fetchData_timeline, 10000);#}
            }
        );

        function fetchData_timeline() {
            $.ajax({
                type: "GET",
                url: "{% url 'weather_show_app:get_hostReplay' %}?city_id={{city_id}}",
                dataType: 'json',
                async: true,
                timeout:5000,

                success: function (result) {
                    timeline_chart.setOption(result.data);
                },
                error : function(XMLHttpRequest,status) { //请求完成后最终执行参数
                    if (status === 'timeout') {
                        //超时,status还有success,error等值的情况
                        if (retry_counter > 3){
                            return
                        }else{
                            $.ajax(this).abort();
                        console.log("超时,已重试");
                        $.ajax(this);
                        return
                        }


                    }
                }

            });
        }
    </script>

{#这个是地图#}
        <br>
    <br>
    <div class="mdui-center" id="drawmap" style="width:800px; height:400px;"></div>
    <script>
        var drawmap_chart = echarts.init(document.getElementById('drawmap'), 'white', {renderer: 'canvas'});
        $(
            function () {
                fetchData_drawmap(drawmap_chart);
                //{#setInterval(fetchData_drawmap, 10000);#}
            }
        );
        //
        function fetchData_drawmap() {
            $.ajax({
                type: "GET",
                url: "{% url 'weather_show_app:today_temperature_line' %}?city_id={{city_id}}",
                dataType: 'json',
                async: true,
                timeout:5000,   //15秒

                success: function (result) {
                    drawmap_chart.setOption(result.data);
                },
                error : function(XMLHttpRequest,status) { //请求完成后最终执行参数
                    if (status === 'timeout') {
                        //超时,status还有success,error等值的情况
                        if (retry_counter > 3){
                            return
                        }else{
                            $.ajax(this).abort();
                        console.log("超时,已重试");
                        $.ajax(this);
                        return
                        }


                    }
                }

            });
        }


    </script>



</div>

{% endblock %}

{% block tail %}

<!--加入喜欢-->

<div class="mdui-fab-wrapper" mdui-fab="">
      <button class="mdui-fab mdui-ripple mdui-color-theme-accent">
        <i class="mdui-icon material-icons">add</i>
        <i class="mdui-icon mdui-fab-opened material-icons">mode_edit</i>
      </button>
      <div class="mdui-fab-dial" style="height: 0px;">
        <!--<button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-pink" style="transition-delay: 0ms;">-->
            <!--<i class="mdui-icon material-icons">backup</i></button>-->


        <button id="add_mark" mdui-tooltip="{content: '加入收藏', position: 'left'}" class="mdui-fab mdui-fab-mini
        mdui-ripple mdui-color-red" style="transition-delay: 15ms;">
            <i class="mdui-icon material-icons">bookmark</i></button>
        <!--<button id="del_mark" mdui-tooltip="{content: '从收藏中删除', position: 'left'}" class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-orange" style="transition-delay: 30ms;">-->
            <!--<i class="mdui-icon material-icons">delete_forever</i></button>-->

          <!--这个是啥-->
          <!--<div >-->
              <!--<div class="mdui-dialog-title">Are you sure?</div>-->
              <!--<div class="mdui-dialog-content">You'll lose all photos and media!</div>-->
              <!--<div class="mdui-dialog-actions">-->
                <!--<button class="mdui-btn mdui-ripple">cancel</button>-->
                <!--<button class="mdui-btn mdui-ripple">erase</button>-->
              <!--</div>-->
            <!--</div>-->
        <!--<button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-blue" style="transition-delay: 45ms;">-->
            <!--<i class="mdui-icon material-icons">touch_app</i></button>-->
      </div>
    </div>




{% endblock %}
  </div>

</div>

